
@duTabBarbackGroundColor: #F7F7FA;
@duTabBarBdTopLineColor: #EEE;
@duTabBarHeight: @globalTabBarHeight;

// item
@duTabbarItemFontSize: 24px;
@duTabbarItemPaddingTop: 20px;

// label
@duTabbarLabelHeight:40px;
@duTabbarLabelColor: @globalTextColorGray;

// select 
@duTabbarSelectLabelColor: #E64340;

// icon
@duTabBarIconWidth: 24px; 
@duTabBarIconHeight: 24px; 